$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

p {
  font-family: "ff-clan-web-pro-wide", sans-serif;
  font-weight: normal;
  font-size: 14px;
}

html,
body,
.view-window,
.google-map,
.angular-google-map,
.angular-google-map-container {
  width: 100%;
  height: 100%;

  //z-index: 0;
}

#control-panel {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 400px; //needs to be responsive
  background-color: white;
  height: 100%;
  overflow-y: scroll;
  padding: 10px;
}

//////////////////////////////
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.uber-panel {
  border-color: black;
  font-size: 16px;
}

.panel-heading {
  font-family: "ff-clan-web-pro-wide", sans-serif;
  font-weight: normal;
  background-color: grey;
  text-align: center;
  text-transform: uppercase;
}

.location-geo-image {
  width: 330px;
  height: 150px;
  position: relative;
  p {
    position: absolute;
    top: 2px;
    left: 2px;
    color: white;
    text-shadow: 0 1px 1px rgba(0,0,0,0.8);
    text-transform: uppercase;
    font-size: 16px;
  }
  .location-delete {
    position: absolute;
    top: 2px;
    right: 2px;
    color: white;
    cursor: pointer;
  }
}

.location-address {
  font-size: 12px;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
