<div class="google-map span7"
  center="map.center"
  zoom="map.zoom"
  draggable="true"
  dragging="map.dragging"
  bounds="map.bounds"
  events="map.events"
  options="map.options"
  pan="true"
  control="map.control"
  >
    <markers models="map.dynamicMarkers" coords="'self'" icon="'icon'" click="'onClicked'" fit='false'>
      <windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
          <!-- map framework needs ng-non-bindable attr -->
          <p class="marker-info-name" ng-non-bindable>{{assignedName}}</p>
          <p class="marker-info-addr" ng-non-bindable>{{address}}</p>
      </windows>
  </markers>

  <div ng-init="opts = {animation:1}">
      <marker coords="map.clickedMarker" options="opts">
          <!--<marker-label content="map.clickedMarker.title" anchor="24 40" class="marker-labels"/>-->
          <!-- <window isIconVisibleOnClick="true" options="map.infoWindowWithCustomClass.options">This is my clicked marker!
              <p class="muted">My marker will reappear when you close me.</p>
          </window> -->
      </marker>
  </div>
</div>
