<!-- <div ng-include="'partials/navbar'"></div> -->
<div class="google-map span7"
  center="map.center"
  zoom="map.zoom"
  draggable="true"
  dragging="map.dragging"
  bounds="map.bounds"
  events="map.events"
  options="map.options"
  pan="true"
  control="map.control"
  >
</div>

<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo <span ng-show="currentUser">{{ currentUser.name }}</span>!</h1>

  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div> -->

<div id="panel">
<h2>My Favorite Locations</h2>

  <div>
    <!--show reverse geocode here-->
    <div class="alert alert-danger" ng-show="locationCreate.status.needAddress">
      Select a location on map first
    </div>
    <p>Current address: {{locationCreate.params.address}}</p>
    <form ng-submit="locationCreate.dummy(form)" class="form" name="form">
      <input type="text" ng-model="locationCreate.params.assignedName" placeholder="Name this location" required>
      <button type="submit" class="btn btn-lg btn-primary"> Create in database </button>
    </form>
    <div class="alert alert-success" ng-show="locationCreate.status.saveSuccess">
      Location saved!
    </div>
  </div>


  <!-- show existing saved locations -->
  <div ng-repeat="existingLocation in existingLocations">
      <h4>{{existingLocation.assignedName}}</h4>
      <p>{{existingLocation.address}}</p>
  </div>
</div>

<!-- <div class="footer">
  <p>♥ from the Yeoman team</p>
</div> -->
