<!-- <div ng-include="'partials/navbar'"></div> -->
<div class="google-map span7"
  center="map.center"
  zoom="map.zoom"
  draggable="true"
  dragging="map.dragging"
  bounds="map.bounds"
  events="map.events"
  options="map.options"
  pan="true"
  control="map.control"
  >
</div>

<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo <span ng-show="currentUser">{{ currentUser.name }}</span>!</h1>

  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div> -->

<div id="control-panel">
  <div class="panel uber-panel">
    <div class="panel-heading uber-font">My Favorite Locations</div>

    <div class="panel-body">
      <div class="label">
        Add to Favorites
      </div>
      <!--show reverse geocode here-->
      <div class="alert alert-danger" ng-show="locationCreate.status.needAddress">
        Select a location on map first
      </div>
      <p>Current selected address: {{locationCreate.params.address}}</p>
      <form ng-submit="locationCreate.dummy(form)" class="form" name="form">
        <input type="text" ng-model="locationCreate.params.assignedName" placeholder="Name this location" required id="name-field">
        <button type="submit" class="btn">Save Location</button>
      </form>

      <!-- alert -->
      <div class="alert alert-success" ng-show="locationCreate.status.saveSuccess">
        Location saved!
      </div>
    </div>


    <!-- show existing saved locations -->
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="existingLocation in existingLocations">
        <div class="location-geo-image" style="background-image: url('http://maps.googleapis.com/maps/api/streetview?size=330x150&location={{existingLocation.latitude}},{{existingLocation.longitude}}&fov=90&heading=235&pitch=10&sensor=false')">
          <p>
            {{existingLocation.assignedName}}<span class="glyphicon glyphicon-pencil"></span>
          </p>
          <span class="glyphicon glyphicon-remove location-delete" ng-click="locationDelete($event, existingLocation)"></span>
        </div>
        <p class="location-address">{{existingLocation.address}}<span class="glyphicon glyphicon-pencil"></span></p>
      </li>
    </ul>

  <!-- end: .panel -->
  </div>
</div>

<!-- <div class="footer">
  <p>♥ from the Yeoman team</p>
</div> -->
